.reservation-container {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(
  "https://images.unsplash.com/photo-1517248135467-4c7edcad34c4"
  );

  background-size: cover;
  background-position: center;
}

.reservation-card {

  width: 500px;

  background: rgba(0,0,0,0.8);

  backdrop-filter: blur(10px);

  padding: 40px;

  border-radius: 20px;

  color: white;

  text-align: center;

  box-shadow:
  0 10px 30px rgba(0,0,0,0.5);
}

.reservation-card h1 {
  margin-bottom: 15px;

  color: #d4af37;
}

.reservation-card p {
  margin-bottom: 25px;
}

.reservation-form {
  display: flex;
  flex-direction: column;

  gap: 15px;
}

.reservation-form input {

  padding: 15px;

  border: none;

  border-radius: 10px;

  font-size: 16px;
}

.reservation-form button {

  padding: 15px;

  border: none;

  border-radius: 10px;

  background: #d4af37;

  color: black;

  font-size: 18px;

  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;
}

.reservation-form button:hover {

  background: #f7c948;

  transform: scale(1.05);
}